<div class="most-read-section">
  <h2>En Çok Okunan Haberler</h2>
  <mat-table [dataSource]="mostReadNews" class="mat-elevation-z8">
    <ng-container matColumnDef="baslik">
      <mat-header-cell *matHeaderCellDef>Başlık</mat-header-cell>
      <mat-cell *matCellDef="let haber">{{ haber.baslik }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="icerik">
      <mat-header-cell *matHeaderCellDef>İçerik</mat-header-cell>
      <mat-cell *matCellDef="let haber">{{ truncateText(haber.icerik, 50) }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="yayinTarihi">
      <mat-header-cell *matHeaderCellDef>Yayın Tarihi</mat-header-cell>
      <mat-cell *matCellDef="let haber">{{ haber.yayinTarihi | date:'dd/MM/yyyy' }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="okunduSayisi">
      <mat-header-cell *matHeaderCellDef>Okunma Sayısı</mat-header-cell>
      <mat-cell *matCellDef="let haber">{{ haber.okunmaSayisi }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="tiklandiSayisi">
      <mat-header-cell *matHeaderCellDef>Tıklanma Sayısı</mat-header-cell>
      <mat-cell *matCellDef="let haber">{{ haber.tiklanmaSayisi }}</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>

<div class="most-clicked-section">
  <h2>En Çok Tıklanan Haberler</h2>
  <mat-table  [dataSource]="mostClickedNews" class="mat-elevation-z8 table">
    <ng-container matColumnDef="baslik">
      <mat-header-cell *matHeaderCellDef>Başlık</mat-header-cell>
      <mat-cell *matCellDef="let haber">{{ haber.baslik }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="icerik">
      <mat-header-cell *matHeaderCellDef>İçerik</mat-header-cell>
      <mat-cell *matCellDef="let haber">{{ truncateText(haber.icerik, 50) }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="yayinTarihi">
      <mat-header-cell *matHeaderCellDef>Yayın Tarihi</mat-header-cell>
      <mat-cell *matCellDef="let haber">{{ haber.yayinTarihi | date:'dd/MM/yyyy' }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="okunduSayisi">
      <mat-header-cell *matHeaderCellDef>Okunma Sayısı</mat-header-cell>
      <mat-cell *matCellDef="let haber">{{ haber.okunmaSayisi }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="tiklandiSayisi">
      <mat-header-cell *matHeaderCellDef>Tıklanma Sayısı</mat-header-cell>
      <mat-cell *matCellDef="let haber">{{ haber.tiklanmaSayisi }}</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>