
<div class="app-container">
  <mat-toolbar color="primary" *ngIf="authService.isLoggedIn()">
    <mat-toolbar-row>
      <span class="app-title">AI Haber Paneli</span>
      
      <span class="spacer"></span>
      
      <button mat-button (click)="navigateToPath('/news')" routerLinkActive="active-link">
        <mat-icon>article</mat-icon>
        Haberler
      </button>
      
      <button mat-button routerLink="/most-read-clicked" routerLinkActive="active-link">
        <mat-icon>trending_up</mat-icon>
        En Çok Okunanlar
      </button>
      
      <button mat-button (click)="navigateToPath('/about-us')" routerLinkActive="active-link">
        <mat-icon>info</mat-icon>
        Hakkımızda
      </button>
      
      <span class="spacer"></span>
      
      <span class="user-info">
        <mat-icon>person</mat-icon>
        {{ currentUsername }}
      </span>
      
      <button mat-icon-button [matMenuTriggerFor]="userMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
      
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Çıkış Yap</span>
        </button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>

  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
</div>